nav ul {
	-webkit-font-smoothing:antialiased;
	text-shadow:0 1px 0 black;
    list-style: none;
    margin: 0;
    padding: 0;
    
    
}
nav li {

    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    width:170px;
    top:30px;
    right:5px;
}
nav a {
    
    height:40px; 	
    background-image: url("bar.jpg");
    color: powderblue;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
nav .dropdown:after {
    content: ' \25bc';
}
nav .dropdown:hover:after{
	//content:' \25bc'
}
nav li:hover a {
    color: limegreen;
    background-image: url("bar.jpg");
}
nav li ul {

    float: right;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 25px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
nav li:hover ul {
    color: powderblue;
    opacity: 1;
    top: 10px;
    visibility: visible;
}
nav li ul li {
    width:150%;
    float: none;

}
nav li ul a:hover {
    background: red;
}

/* Clearfix */

.cf:after, .cf:before {

    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}​